body { font-size: 100%; line-height: 120%; }

/* Tables */
th, td { padding: .2em .5em; }

/* Start showing items designed to display in medium view. 
   Don't hide .small though because this size used to be part of .small. */
.medium { display: block; }

/* increase the size of the logo */
.logo-small { display: none; }
.logo { display: block; margin: 24px 0 0; }

/* Move the menu to accommodate a larger logo. */
.menu { left: 260px; top: 33px; max-width: 220px; }
.menu > li > em, .menu > li > a:link, .menu > li > a:visited { width: 70px; padding: 5px 0; margin: 0 3px 3px 0; }

/* Tabs used in Play! section. */
.tab-option { min-width: 80px; text-align: center; }
.tab-box img { float: right; margin: 0 0 15px 15px;}

/* Teams, seasons and competitions */
.player-list li { width: 30%; }

/* Download calendar 
 * 
 * <a class="calendar">
 * 		<p class="subscribe" />
 * 		<p class="subscribe-to" />
 * </a>
 */
.calendar { position: relative; float: right; width: 50%; margin: 25px 0 1.5em 1.5em; text-align: left; box-shadow: none; }
.calendar .subscribe { padding: 10px 10px 20px 120px; text-decoration: underline; background: url(/images/noise-bottom.gif) repeat-x left bottom; }
.calendar .subscribe:after { position: absolute; top: -15px; left: 10px; content: ' '; display: block; height: 88px; width: 81px; background: url(/images/sprite.4.png) no-repeat left -20px; }
.calendar .subscribe-to { margin: 0; background: #ccc url(/images/wicket-tile.jpg); border-radius: 0 0 5px 5px; color: #000; padding: 10px 10px 10px 120px; }

/* League table for a season - when it's missing, need to clear after the image */
.season-table .box-content h2 { clear: both; }

/* Forms 
   .legacy-form indicates a style which has been limited to old .formPart-style forms
 */
fieldset { overflow: hidden; }
optgroup { font-style: normal; padding: .5em 0 0; margin: .5em 0 0; border-top: 1px solid #99f; }
.legacy-form label { margin: 0; }
.formPart { float: left; width: 100%; margin: .2em 0; }
.formPart .formLabel { float: left; width: 24%; vertical-align: top; }
.formPart .formControl { float: right; width: 74%; vertical-align: top; }
.formPart fieldset.formControl { border: 0; padding: 0; margin: 0; }
.formPart input.formControl { width: 73.6%; }
.formPart table { float: right; width: 74%; vertical-align: top; }
.formPart .formControl table { float: none; width: 100%; vertical-align: top; }
.formPart .formControl .mceToolbar { width: auto; }
.formPart td.action { width: 10%; }
label.checkBox { clear: left; display: block; }
.legacy-form label.checkBox { margin: .5em 0 .5em 25.3%;  }
input.checkBox { margin-right: .5em; }
.dateControl label { margin: 0 1em; }
div.buttonGroup { clear: both; padding: .5em 0; }
.buttonGroup .primary { font-size: 1em; }
textarea { min-height: 7em; height: 10em; }
body div.buttonGroupTop { padding-bottom: 0; }
fieldset.formPart { border: 0; margin: 0; padding: 0; }
legend.formLabel { font-weight: normal; padding: 0; margin: 0; }
.deleteButtons { margin-top: 1.5em; }

/* Standard width for any text field which accepts a date. Initial use is on statistics filter. */
input.date { width: 9em; }

/* action buttons inside panel */
.actions { clear: both; margin: 0; padding-top: 10px; } 

/* Non-standard, but reliable way to target Webkit. IE8 needs same fix, so this may need to become the rule rather than the exception */ 
@media screen and (-webkit-min-device-pixel-ratio:0){
fieldset.formPart .formControl { margin-top: 0; }
}

/* Two fields on one line, both within .formControl:
	<div class="formPart twoFields">
		<label class="formLabel" />
		<div class="formControl">
			<input class="firstField" />
			<label><input /></label>
		</div>
	</div>
 */
.twoFields { text-align: right; white-space: nowrap; }
.twoFields .firstField { float: left; }
.twoFields label { float: right; }
.twoFields label input { margin-left: 5px; }

.text-placeholder {color: #888; }

/* Create a poster 
   width is % of 800px .content 
 */
#poster-preview { float: left; width: 50%; }
form.poster { float: left; width: 46%; padding: 0 2%; }

/* Twitter/Facebook buttons below content */
.social { margin-top: 1em; clear: both; }

