/* Setup the main content area */
html { background: url(/images/design/wood.jpg) repeat #D0CCCA; }
body { padding: 8px; margin: 0; background: url(/images/design/ball.png) no-repeat; min-height: 242px; font: 80%/150% Arial, Helvetica, sans-serif; }
img { border: 0; }

/* Show and hide elements depending on which design is active */
.medium, .large { display: none; }

/* Move the sign-in/out links to a black bar across the top */
#authControl { position: absolute; top: 0; left: 0; height: 20px; background: #000; width: 100%; text-align: right; }
#authControl a:link, #authControl a:visited { color: #fff; margin-right: 15px; font-size: .9em;text-decoration: none; }
#authControl form, #authControl div { display: inline;}

/* Position small logo at the top left */
.logo-small { margin: 20px 0 10px;}
.logo { display: none; }

/* At the very smallest sizes show the menu below the logo, using overflow to contain the floated links.
 * 
 * As soon as there's enough room, position the menu to the right of the logo. It will appear as two columns of 
 * three links, flattening out to three columns as the screen gets wider. Adjust the top position when that happens.
 * Setting max-width ensures there are only ever two or three columns.
 * 
 * The breakpoints here vary with browsers so pick a conservative set that works in all the major ones. 
 */
.menu { overflow: hidden; max-width: 180px; position: relative; z-index: 2; padding: 0; }
@media only screen and (min-width: 320px) {    .menu { margin: 0; position: absolute; left: 160px; top: 26px; max-width: 120px;} }
@media only screen and (min-width: 375px) {    .menu { max-width: 180px;} }

.menu > li { list-style-type: none; display: inline; }
.menu > li > em, .menu > li > a:link, .menu > li > a:visited { float: left; padding: 0 0 2px; margin: 0 2px 2px 0; width: 56px; font-style: normal; background: none repeat scroll 0 0 #009000; border-radius: 5px; color: #FFF; text-align: center; text-decoration: none; }

/* Setup the header. Container div needs to be in-line to avoid an unexplained space at the top */
#board { display: inline; }

/* Set up the content area, clearing after the header. Maintain the baseline grid within this area. */
#content { clear: left; }
#content .aural { position: absolute; top: -9999px; left: -9999px; }

h1, h2, h3, h4, h5, h6 { font: bold 1em/1em 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #503C03; margin: 0; }
h1 { font-size: 1.5em; line-height: 1.2em; padding: .9em 0 .5em; } 
h2 { font-size: 1.33em; line-height: 1.125em; font-weight: normal; margin: .75em 0 .375em; } /* 16px/18px, 12px and 6px margin */
h3 { font-size: 1.16em; line-height: 1.285em; font-weight: normal; margin: .85714em 0 0.42857em;} /* 16px/18px, 12px and 6px margin */

p { margin: .5em 0 1em; } /* 6px and 12px margin */

ul, ol { margin: 0; padding: 0 0 0 16px; }
ol { margin-left: 9px; }
dt { font-weight: bold; }
dd { margin: .5em 0 1em; }

hr { color: #503C03; height: 1px; margin: 1em 0; }

a:link, a:hover, a:focus, a:active { color: #005920; }
a:visited { color: #008044; }

img { display: block; max-width: 100%; }
.map img, .gmnoprint img { max-width: none; } /* Don't break Google maps */

/* Tables */
table { border-collapse: collapse; width: 100%; margin: 1em 0; }
table { background: url(/images/statistics/batsman-outline.png) no-repeat right 40px; }
table.bowling { background-image: url(/images/statistics/bowler-outline.png); }
thead tr { background: #eee url(/images/wicket-light-tile.jpg); vertical-align: top; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; }
th, td { text-align: left; padding: 2px; vertical-align: top; }
tbody td, tbody th { border-top: 1px solid #999; border-bottom: 1px groove #999; }
caption { text-align: left; font-weight: bold; padding: 6px 4px 16px; border-radius: 3px 3px 0 0; background: #008044 url(/images/noise-bottom-light.gif) repeat-x left bottom; font: 1.2em 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #fff; }

/* .qualifier allows for a note explaining a table header label */
th .qualifier { display: block; font: normal .8em Arial, Helvetica, sans-serif; }

/* Menu of sub-pages.
 *
 * Possible variants of HTML:
 * <nav><ul class="nav"><li>...</li></ul></nav>
 * <div class="nav"><h2>...</h2><p>...</p></div> 
 * <nav><ul class="nav"><li><a href=""><h2>...</h2></a></li></ul></nav> 
 */
ul.nav, div.nav { list-style: none; margin: 0 0 10px; padding: 0; font-size: 1.4em; line-height: 1.3em; }
.nav li, div.nav h2 { padding: 10px 0; margin: 0; border-bottom: 1px solid #333; }
ul.nav h2 { font: 1em Arial, Helvetica, sans-serif; margin: 0; }
ul.nav a:link h2, ul.nav a:hover h2, ul.nav a:focus h2, ul.nav a:active h2 { color: #005920; }
ul.nav a:visited h2 { color: #008044; }
.nav p { display: none;}

/* Menu used only on the Surrey ladies page */
ul.surrey.nav { margin: 0; padding: 0;}
ul.surrey li { display: inline-block; padding: 1em; border-radius: 5px; background: #008044; margin: 0 1em 1em 0; }
ul.surrey a:link, ul.surrey a:visited { color: #fff; }

/* Box of content with a header */
.panel { background: #ccc url(/images/wicket-light-tile.jpg);margin: 1em 0 1.5em; padding: 0 1em .5em; overflow: hidden; max-width: 40em; border-radius: 5px; }
.panel h2 {  margin: 0 -1em 10px; color: #fff; background: url(/images/tile-green.jpg) top left; }
.panel h2 span { color: #fff; background: url(/images/noise-bottom-light.gif) repeat-x bottom left; display: block; }
.panel h2 span span { color: #fff; }
.panel h2 span span span { color: #fff; padding: .5em 1em 1em; }

/* action buttons inside .panel */
.panelHide { float: right; }

/* Microformats */
.metadata { display: none; }
abbr.dtstart { border-bottom: 0; }
.geo { font-size: .75em; }

/* Subscription options */
.rss { background: url(/images/sprite.4.png) no-repeat -172px -48px; padding: 0 20px; }
.twitter-follow-button { vertical-align: bottom; }

/* A heading which is a link should just display at normal size. Typically applies on a landing page where the HTML can't be altered for mobile. */
h2 a { font-size: 0.75em; line-height: 1.5em; font-family: Arial, Helvetica, sans-serif; } /* down to 12px from 16px */

/* Forms */
.validationSummary { color: #850000; font-weight: bold; }

fieldset { border: 0; padding: 0; margin: 1em 0; }
legend { font-weight: bold; margin: 0; padding: 0; }

label { display: block; }
.form label { margin: 1.5em 0 3px; font-weight: bold; }
.form .label-hint { margin: -3px 0 3px; }

.requiredField { font-family: Verdana, Arial, Helvetica, sans-serif; color: #900; padding: 0 .3em; font-weight: bold; }

textarea { width: 100%; font-family: Arial, Helvetica, sans-serif; }
input[type=text], input[type=email], input[type=password] { width: 100%; }
select { max-width: 100%; }

.form .mceLayout { width: 100%!important;}

.radioButtonList label { position: relative; padding: 1px 0 0 25px; }
.radioButtonList input { position: absolute; top: 0; left: 0; }

/* Common field contents */
input.year { width: 3em; }

/* Last modified by... */
.audit { margin: 0; font-size: .7em; max-width: none; color: #555; padding-top: 1em; }

/* primary and cancel actions after a form */
.buttonGroup { position: relative; margin: 1em 0 0 ; padding: .5em 0 0; }

.buttonGroup .primary { display: block; font: normal 1.3em 'Trebuchet MS', Arial, Helvetica, sans-serif; margin: 0; padding: 10px; background: #008044; color: #fff; text-decoration: none; text-align: center; box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2) inset; border: none; border-radius: 5px; }
.buttonGroup .primary:hover, .form .primary:focus { cursor: pointer; background: #008800; }
.buttonGroup .primary:active { position:relative; top:1px; }
.buttonGroup .cancel { position: absolute; right: 0; bottom: 0; }

/* Link presented as a button which is an important action, but not the primary action on the page
 * The button incorporates a Unicode icon, added by an additional specific class which customises an .action-button.
 * 
 * <a href="#" class="action-button specific-class" />
 * 
 */
.action-button:before, .action-button:after { display: inline-block; line-height: 9px; padding: 3px; position: relative; vertical-align: baseline; text-align: center; border-radius: 34px; font-weight: bold; background: #00aa00; }
.action-button:link, .action-button:visited { display: inline-block; font-size: .8em; padding: 2px 10px 2px 7px; border-radius: 5px; background: #008044; color: #fff; text-decoration: none; }
.action-button:hover, .action-button:focus, .action-button:active { background: #008800;}

/* .action-button to add one more item in a list */
.add-one:before { content: '+'; font-size: 15px; margin: 2px 6px 0 0; }

/* .action-buttons to navigate to the next and previous items in a sequence */
.back { margin-right: 5px; }
.back:before { content: '◄'; font-size: 10px; margin: -1px 6px 0 0; }
.forward:after { content: '►'; font-size: 10px; margin: -1px 0 0 6px; }


/* Rules of stoolball */
.outline li { list-style: none; padding-left: 3em; position: relative; }
.outline h2 { position: relative; padding-left: 30px; }
.outline h3, .outline p { padding-left: 30px; }
.outline ul { margin-left: 30px; }
.outline ol { margin-left: 0; padding-left: 30px; }
.outline ol ol { padding-left: 0; }
.outline ol ol li { padding-left: 60px; }
.outline ul li { list-style: disc; padding-left: 15px; }
.outline li p { padding-left: 0; }
.outline span { position: absolute; left: 0; top: 0; }
#positions, #bowler { margin: 24px 0; }

/* WordPress pages */
.screenshot { margin: 1em 0; border: 1px solid #503C03; }

/* Who are Stoolball England? page */
.who { overflow: hidden; padding-left: 90px; margin-bottom: 10px; }
.who img { float: left; margin: 3px 10px 0 -90px; border: 1px solid #ccc; border-radius: 50%; }
.who h2 { margin: 0; }

/* Re-usable box style
 * 
 * <div class="box">
 * 		<div class="box-content" />
 * </div>
 * */
.box { background: #eee url(/images/wicket-light-tile.jpg); margin: 15px 0; overflow: hidden; width: 100%; border-radius: 5px; }
.box-content { padding: 15px; }

.box-content > h2:first-child { margin-top: 0;}

.box-content tr { border: 1px solid #BBB;}
.box-content thead tr { border-top: none; }
.box-content td, .box-content th { border-color: #BBB; }

/* Tabs used in Play! section.
 * .tab-box should be longer than the tabs, and can have a rounded top right corner */
.tab-option { margin: 10px 1px 0 0; float: left; height: 2.5em; font-size: 1.1em; border-radius: 10px 10px 0 0; }
.tab-active { background: #008040; }
.tab-inactive { background: #503C03 url(/images/tab-inactive.gif) repeat; color: #fff;}
.tab-inactive p { margin: 0; }
.tab-active h2, .tab-inactive a:link, .tab-inactive a:visited { display: block; padding: 10px; margin: 0; font: 1em/1.4em 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #fff; text-decoration: none; }
.tab-inactive a:hover, .tab-inactive a:focus, .tab-inactive a:active { background-image: url(/images/tab-hover.gif); border-radius: 10px 10px 0 0; }

.tab-box { clear:both; border-radius: 0 5px 5px 5px; box-shadow: rgba(0,0,0,.2) 0px 0px 1px 1px inset; background: none; }
.tab-box .dataFilter { border-radius: 0 5px 0 0; }
.tab-box img { margin: 10px 0;} /* Identity images on pages in the Play section */

/* Filter options for listings 
 *
 * <div class="dataFilter">
 * 		<p>Show me: </p>
 * 		<ul />
 * 		<p><span class="or">or</span>...</p>
 * </div>
 * 
 * <form class="dataFilter">
 * 		<div />
 * </form>
*/

.dataFilter { margin: 0 0 10px; color: #fff; overflow: hidden; border-radius: 5px; }
.dataFilter { margin: 0; background: #008040 url(/images/noise-bottom-light.gif) repeat-x left bottom; padding: 5px 15px 18px; }
.dataFilter div { padding: 5px 0; }
.dataFilter h1 { color: #FFF; padding: 4px 12px 0; margin: 0; font-size: 1.2em; }
.dataFilter p { clear: both; margin: 5px 0; padding: 2px 0; }
.dataFilter p { margin: 5px 15px 5px 0; }
.dataFilter p.follow-on { clear: none; float: left; }
.dataFilter p.total { clear: none; float: right; margin: 5px 0 5px 15px; }
.dataFilter .or { font-weight: bold; margin: 0 2px; }
.dataFilter ul { float: left; padding: 0; margin: 5px 0; }
.dataFilter li { float: left; list-style: none; padding: 0; margin: 0;}
.dataFilter ul { max-width: none; }
.dataFilter a:link, .dataFilter a:visited { padding: 0 5px; color: #fff; }
.dataFilter ul a:link, .dataFilter ul a:visited { display: block; padding: 2px 10px; }
.dataFilter ul em { display: block; padding: 2px 10px; font-style: normal; background: #eee url(/images/wicket-light-tile.jpg) repeat; color: #008040; border-radius: 5px; }
.dataFilter .multiple-filters { float: left; margin: 0 0 5px; }
.dataFilter .first-filter { border-bottom: 1px solid #CCC; padding-bottom: 10px; margin: 0 0 -1px; }
.dataFilter .following-filter { clear: both; border-top: 1px solid #CCC; margin-top: 0; padding: 10px 0 0; } 

/* Lists of matches */
.matchPlayed { opacity: 0.7; }
.matchNext { font-weight: bold; }
#board .tournament-detail { font-size: 1em; margin: 0; padding: 0; background: none; }
.spaces-left { white-space: nowrap; }

/* Lists of seasons and players */
.season-list h2, .player-list h2 { clear: left; }
body .season-list ul, body .player-list ul, body .player-list ol { width: 100%; margin: 0 0 1em; padding: 0; overflow: hidden; list-style: none; }
.season-list li, .player-list li { float: left; margin: 0 0 .5em; padding: 0; }
.season-list li { width: 9em; }

.player-list h2:first-child { margin-top: 0; }
.player-list li { width: 50%; }
.player-list ul:last-child { margin-bottom: 0; }

/* View match */
.sunset { background: url(/images/matches/sunset.png) no-repeat 10px center; padding-left: 40px; font-size: .8em; white-space: nowrap; }

/* Add a match */
.time { white-space: nowrap; } /* Drop-down lists to enter a time */

/* Scorecards */
span.balls-faced:before {content: '(';}
span.balls-faced { font-size: .8em; }
span.balls-faced:after {content: ')';}
table.batting td.runs { white-space: nowrap; }
table.batting th.balls-faced { width: 1em; } 
tr.extras th { text-align: right; font-weight: normal; vertical-align: middle; }
tr.totals, tr.totals th { background: #eee url(/images/wicket-light-tile.jpg); vertical-align: middle; text-align: right; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; border-color: #999; }
table.overs .numeric { width: 10%; }

/* Edit scorecard - results control */
.matchResults .formControl label { display: inline; }

/* Edit scorecard - full scorecard */
table.scorecardEditor td.batsman, table.scorecardEditor td.bowler { padding-left: 0;}
table.scorecardEditor.bowling-scorecard {margin-bottom: .5em;}
table.scorecardEditor th.numeric, table.scorecardEditor td { text-align: center; }
table.scorecardEditor .add-one-container { text-align: left; padding-left: 0;}

/* Edit scorecard - results control and full scorecard */
input.numeric { width: 3.5em; }

/* Edit match, add match report */
.matchResultEdit textarea { height: 15em;}

/* Edit tournaments */
.TournamentEdit .max-teams { width: 3em; }
.TournamentEdit.panel { margin-bottom: .5em; }
.facebook-tournaments { margin-top: 1em; }

/* View team 
   -- clear h2 in case it follows .season-list
 */
.team h2 { clear: both; }

/* View player */
table.numeric th, table.numeric td, .numeric { text-align: right; }
table.numeric .nonNumeric { text-align: left; }

/* League table */
table.league { background: none;}
table.league .resultCount { width: 10%; text-align: center; white-space: nowrap; }
table.league .runs { white-space: normal; }
table.league .withdrawn { background-image: url(/images/wicket-tile.jpg); }
table.league .withdrawn .resultCount { text-align: center; font: normal .8em 'Trebuchet MS', Arial, Helvetica, sans-serif; letter-spacing: .2em; text-transform: uppercase; }

/* Statistics styles which appear on multiple pages */
.get-the-data { border-top: 2px solid #666; margin: 18px 0; }

/* Charts rendered using charts.js */
.chart-js-template { display: none; }
.chart-js { display: block;}

.chart-pie { text-align: center; max-width: 300px; }
.chart-bar{ margin-top: 36px;}

.chart-title { margin-bottom: 1em; }
.chart-js:first-child .line-chart-title { margin-top: 0; }
.pie-chart-title { margin-bottom: 0; text-align: center; }

.chart-subtitle { margin-top: 0; font-size: .9em; }

.chart-axis-x { text-align: center; margin-top: -5px; max-width: none;}

.content .chart-legend { margin: .5em 0; padding: 0; display: block; text-align: center; max-width: none; }
.chart-legend li { list-style: none; padding: 0; margin: 0; }
.chart-legend li:before { content: ' '; display: inline-block; width: 10px; height: 10px; border: 1px solid #eee; }
.chart-legend .chart-colour-1:before { background: #7FAA84; }
.chart-legend .chart-colour-2:before { background: #008044; }
.chart-legend .chart-colour-3:before { background: #002b17; }
.chart-legend .chart-colour-4:before { background: #503C03; }
.chart-legend .chart-colour-5:before { background: #9a854b; }
.chart-legend .chart-colour-6:before { background: #e7d197; }
.chart-legend .chart-colour-7:before { background: #7FAA84; }
.chart-legend .chart-colour-8:before { background: #008044; }

.chart-legend.horizontal li { display: inline-block; margin: 0 4px; }

/* Tweak for specific charts */
.manhattan .chart-bar { margin-top: 15px; }

/* Download calendar */
.calendar { display: block; background: #008044; text-decoration: none; text-align: center; box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2) inset; border-radius: 5px; }
.calendar .subscribe { color: #fff; font-weight: bold; font-size: 1.3em; margin: 0; padding: 10px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; }

/* Forum - list topics, and view a topic */
.forumNavbar a { display: block; }

/* Forum - write message */
#forumMessageForm textarea { height: 10em; }

/* Paging - initially displayed just previous and next links */
.paging .numbers { display: none; }

/* Search results */
.search dt { font-weight: normal; font-size: 1.1em; margin: 0 0 .1em;}
.search dd { margin: 0 0 1em;}
.search p, .search ul { margin: 0; padding: 0;}
.search .url { font-size: .8em; color: #503C03;}
.search li { display: inline; margin: 0 1em 0 0; font-size: .9em;}
mark { background-color: rgba(259,241,121,.8); padding: 2px; }

/* Subscribe to RSS feeds using blogTrottr */
.rss-form { clear: both; margin: 15px 0 0; padding: 15px; background: #999 url(/images/wicket-extra-dark.jpg) repeat; border-radius: 5px; }
.rss-form h2, .rss-form label, .rss-form a:link, .rss-form a:visited, .rss-form p { margin: 0; color: #fff;}
.rss-form h2 { margin: 0 0 10px;}
.rss-form h2 small { font-family: Arial, Helvetica, sans-serif; }
.rss-form h2 a { font-size: 1em;}
.rss-form label { font-size: 1.1em; }
.rss-form input[type=email] { width: 400px; max-width: 50%; border-radius: 5px; }
.rss-form input {  font-size: 1.2em; }
.rss-form p { margin: 10px 0 0;}

/* Link to an iCalendar */
a.icalendar { padding-left: 20px; background: url(/images/sprite.4.png) no-repeat -171px -110px; }

/* Print styles */
@media print {
  
  /* Responsive design: hide any elements which should not be seen in this medium */
  .screen { display: none!important;}
  .print { display: block!important;}
}
