#Configuration data
stoolball-settings.class.php

#Cachesandlogs
php-errors.log
thumbs.db
htmlpurifier/HTMLPurifier/DefinitionCache/*

#Uploadeddatafiles
wordpress_image_uploads

#Minifiedfiles
public_html/css/*.min.css
public_html/scripts/stoolball.min.js

#Temporarycodesandpit
public_html/yesnosorry/run-once.php

# Code editor config
.vscode

#Dependencies
htmlpurifier
Zend
tiny_mce
wp-includes
wp-admin
vendor

public_html/index.php
public_html/license.txt
public_html/readme.html
public_html/wp-activate.php
public_html/wp-atom.php
public_html/wp-blog-header.php
public_html/wp-comments-post.php
public_html/wp-commentsrss2.php
public_html/wp-config-sample.php
public_html/wp-config.php
public_html/wp-cron.php
public_html/wp-feed.php
public_html/wp-links-opml.php
public_html/wp-load.php
public_html/wp-login.php
public_html/wp-mail.php
public_html/wp-pass.php
public_html/wp-rdf.php
public_html/wp-register.php
public_html/wp-rss.php
public_html/wp-rss2.php
public_html/wp-settings.php
public_html/wp-signup.php
public_html/wp-trackback.php
public_html/xmlrpc.php
public_html/wp-content/*
!public_html/wp-content/themes
!public_html/wp-content/plugins
public_html/wp-content/themes/*
public_html/wp-content/plugins/*

# WordPress themes and plugins to include in the repo
!public_html/wp-content/themes/stoolball
!public_html/wp-content/plugins/stoolball
!public_html/wp-content/plugins/wp-category-archive
